<div id="header" style="height: 170px; display: block; text-align: center; width: auto; background-color: #7F0056">
    <img src="https://www.jcr.dow.cam.ac.uk/storage/app/media/dowjcrwhite.png" alt="Downing JCR" width="70" height="80" style="Margin-top: 20px" style="margin: 0; padding: 0; z-index: 1;" />
    <h1 style="color: white; font-weight: bold; font-family: Lato; margin-bottom: 10px;">JCR Comms %s</h1>
</div>