<h2 style="color: purple; padding-left: 50px; font-weight: bold; font-family: Lato; margin-top: 10px; margin-bottom: 10px;">Meme of the Week</h2>
<div id="picture-frame" style="display: block; padding: 10px; text-align: center;">
    <img alt="Meme of the week" width=400; height=400; src="%s" style="border: 10px solid white; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);">
</div>
<p style="text-align:center"><br><i>%s</i></p>